body {
    margin: 0;
    background-color: rgb(150, 167, 175);
  }

.content {
    font-family: 'Barlow', sans-serif;
}

h1 {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-shadow: 0 2px 5px black;
}

p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

span {
    color: rgb(46, 111, 185);
}   

canvas {
    width: 400px;
    height: 600px;
    border: 1px solid black;
    border-radius: 5%;
}

img {
    width: 350px;
    height: 600px;
    float: right;
    border-radius: 5%;
}